# -*- coding: utf-8 -*-

# уровень логирования
# logging level
#  0 - NOTSET
# 10 - DEBUG
# 20 - INFO
# 30 - WARNING
# 40 - ERROR
# 50 - CRITICAL
log_level = 20

# адрес TFTP сервера для загрузки на него
# конфигурационных файлов оборудования
# если не планируется работа с конфиг файлами,
# то оставьте это поле пустым
# TFTP server address to upload config files to it
# if you don't want to work with config files,
# leave this field blank
tftp_server = ''

# метод загрузки конфига оборудования, допустимые значения:
# local - загрузка из локальной папки
# ssh - загрузка по протоколу ssh с удаленного сервера
# config file download method, valid values:
# local - download from local directory
# ssh - download from remote server via ssh protocol
config_load_method = ''
# путь к папке, в которую загружаются конфигурационные файлы с оборудования
# path to the directory in which the files will be stored
tftp_path = ''
# параметры для подключения к удаленному серверу по протоколу ssh
# если используется метод local - оставьте эти поля пустыми
# ssh credentials for connecting to a remote server
# if local method is use - leave this field blank
username = ''
password = ''

# snmp community по умолчанию
# default snmp community
community_read = ''
community_write = ''

# имя управляющего vlan'а для определения типа порта, trunk или access
# trunk значит, что в порту присутствует управляющий vlan
# обычно используется для соединения оборудования между собой
# access порт не содержит управляющего vlan'а и обычно используется
# для подключения пользовательского оборудования
# если вы не собираетесь настраивать оборудование, то оставьте это поле пустым
# management vlan name for define port type, trunk or access
# trunk means that port contain management vlan
# commonly used for interconnect equipment
# access port don't contain management vlan and commonly used
# for connect user's equipment
# if you don't want to tune equipment, leave this field blank
mgmt_vlan_name = ''

# путь к папке с настроечными файлами в формате json
# в этой папке обязательно должен присутствовать файла default.json
# он будет применяться, если файл типа оборудования не был найден (например
# des-3200.json, dgs-3100.json)
# если вы не собираетесь настраивать оборудование, то оставьте это поле пустым
# path to directory with settings files in json format
# in this dir must be present default.json file
# it will be use if equipment type file was not be found (e.g.
# des-3200.json, dgs-3100.json)
# if you don't want to tune equipment, leave this field blank
settings_dir_path = ''

# имя пользователя и пароль для авторизации на оборудовании по протоколу telnet
# если вы не собираетесь настраивать оборудование, то оставьте это поле пустым
# username and password for authorization on equipment via telnet protocol
# if you don't want to tune equipment, leave this field blank
telnet_username = ''
telnet_password = ''
