# -*- coding: utf-8 -*-

# уровень логирования
#  0 - NOTSET
# 10 - DEBUG
# 20 - INFO
# 30 - WARNING
# 40 - ERROR
# 50 - CRITICAL
log_level = 20

# адрес tftp сервера для загрузки на него
# конфигурационных файлов оборудования
# если не планируется работа с конфиг файлами,
# то оставьте это поле пустым
tftp_server = ''

# метод загрузки конфига оборудования, допустимые значения:
# local - загрузка из локальной папки
# ssh - загрузка по протоколу ssh с удаленного сервера
config_load_method = ''
# путь к папке, в которую загружаются конфигурационные файлы с оборудования
tftp_path = ''
# параметры для подключения к удаленному серверу по протоколу ssh
# если используется метод local - оставьте эти поля пустыми
username = ''
password = ''

# snmp community по умолчанию
community_read = ''
community_write = ''
